<?xml version="1.0" encoding="UTF-8"?>
<!--
IMPORTANT!!!!!
=====================================================
Do NOT forget to set a JVM env property like
	-DR01_HOME=/data/r01
-->

<configuration debug="false">

	<property name="appName" value="r01f" />
	<jmxConfigurator contextName="r01f" />

	<!-- Global -->
	<include resource="r01f/r01fLogbackGlobal.xml"/>
	<include resource="r01f/r01fLogback.xml"/>
</configuration>